.body {margin: 0%;}
*{
  font-family: 'Montserrat', sans-serif;
}

/* a{
  text-decoration: none;
} */
/* #navpill{

  align-content: center;
} */

    #rotatingbackground {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        width: auto;        
        min-height: 100%;        /* <--- this section makes sure that the video on the homepage is properly formatted*/
        height: auto;
        z-index: 1;
        transform: translate(-50%, -50%);
        background-size: cover;
        }

    .video-background {
        position: static;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        z-index: 1; /* Ensure the video stays below the nav bar */
        background-color: blue;
        }
        
    .video-foreground {
        position: static;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        margin-bottom: 100%;
        background-color: blue;
        }

    #navpill:hover {
        background-color: black;
        opacity: .3;
        /* height: 10px; */
        }

#carouselExampleCaptions{
    /* margin-left: 25%;
    margin-right: 25%; */
    margin-top: 10.5rem;
    position: relative;
    z-index: 20;
    outline-style: groove;
    
}
/* .nav-link{
  text-decoration: none;
} */

#navpill{
  
    height:100px;
     text-align:center;
     position: relative;
     z-index: 20;
     display: flex;
     align-items: center;
     
  
}
.navbar-brand u:hover{
  background-color: black;
  opacity: .3;
}

.carousel-control-color{color: white}           
.carousel-control-width{width: 15%}            
.carousel-control-opacity{opacity: .5;}           
.carousel-control-hover-opacity{opacity: .9;}
.carousel-control-transition{opacity:1 ; 
    transition: .15s ease;}

.carousel-indicator-width{width: 30px}           
.carousel-indicator-height{height: 25px;}
.carousel-indicator-hit-area-height{height: 10px;}
/* .carousel-indicator-spacer:        {  3px}; */
.carousel-indicator-opacity{opacity: .5;};
.carousel-indicator-active-bg{color: white}      
.carousel-indicator-active-opacity{opacity: 1;}  
.carousel-indicator-transition{opacity:1 ;
    transition:.6s ease;}

.carousel-caption-width{width: 70%;}
.carousel-caption-color{color: white;}
.carousel-caption-padding-y{padding: 1.25rem; }     
.carousel-caption-spacer{padding: 1.25rem}           

.carousel-control-icon-width{width: 2rem}       

.carousel-control-prev-icon-bg{url:"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>";}
.carousel-control-next-icon-bg{url:"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>";}

.carousel-transition-duration{transition-duration: .6s}       
.carousel-transition{transform: carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    font-family:'tahoma', serif;
  }
  .container{
    width:900px;
    margin:20px auto;
    margin-top: 100px;
    height:300px;
    background-color:black;
    /* outline-style: groove; */
    /* border-radius: 20%; */
    
    overflow:hidden;
    z-index: 20;
    position: relative;
  }

  .container h2 {
    color:#9E7E38
    
  }

  ul{
    list-style:none;
    position:relative;
    z-index: 20;
    

  }
  li{
    height:100px;
     text-align:center;
     position: relative;
     z-index: 20;
     /* display: flex;
     align-items: center; */
  }
  h2{
    color:#fff;
    padding-top:10px;
    position: relative;
    z-index: 20;
  }
  p{
    text-align:center;
    /* padding:10px; */
    color:#eee;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
   }