#navpill:hover {
    background-color: black;
    opacity: .3;
    }

    *{
        font-family: 'Montserrat', sans-serif;
      }

h1 {
    text-align: center;
    margin-top: 1.5rem;
    position: relative;
}

.year {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
 #publi{

    position: fixed;
    opacity: 0.2;
    
} 

#row_paper{
    font-size: 1.2rem;
}

.col-9 p{
    font-size: 1.2rem;
}

.col-9 h3{
    font-size: 1.2rem;
}
.col-9 a{
    font-size: 1.2rem;
}

.col-9{
    position: relative;
    
    
}

#navpill{
  
    height:100px;
     text-align:center;
     position: relative;
     z-index: 20;
     display: flex;
     align-items: center;
  
}

#navpill:hover {
    background-color: black;
    opacity: .3;
    /* height: 10px; */
    }
